@import '@/styles/shared-imports.scss';

.parallax {
  @include position-fit;
  bottom: -1px;
  top: -1px;
  z-index: z('above');
}

.item {
  left: 50%;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  width: 200%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
  }
}

.rays {
  height: calc(100% - 22dvh);
  width: 200%;
  left: 75%;

  @include above('medium') {
    left: 60%;
  }

  @include above('desktop') {
    height: 100%;
    width: 130%;
    left: 50%;
  }

  img {
    object-position: center 27%;
  }
}
