$colors: (
  'white': #fff,
  'black': #000,
  'pink': #ff6096,
  'yellow': #f7db49,
  'gray': #2d2943,

  // TODO remove old colors
  'gray2': #1d1927,
  'clay': #3d3d3d,

  // TODO change these color names below
  'pearl': #ffd232,
  'khaki': #fffcd8,
  'kabul': #f93c15,
);
