$colors: (
  'white': #fff,
  'black': #000,
  'pink': #ff6196,
  'yellow': #f8db4a,
  'blue': #2e284c,

  // TODO remove old colors
  'gray2': #1d1927,
  'clay': #3d3d3d,

  // TODO change these color names below
  'pearl': #ffd232,
  'khaki': #fffcd8,
  'kabul': #f93c15,
);
