@import '@/styles/shared-imports.scss';

.stars {
  position: absolute;
  top: vw($menuHeightMobile);
  bottom: 30dvh;
  left: 0;
  width: 100%;

  @include above('desktop') {
    top: vw($menuHeightDesktop);
  }
}

.star {
  position: absolute;

  // Left side
  &:nth-child(1) {
    left: 11%;
    top: 19%;
    width: vw(25);
  }

  &:nth-child(2) {
    left: 13%;
    top: 28%;
    width: vw(17);
  }

  &:nth-child(3) {
    left: 9%;
    top: 55%;
    width: vw(12);
  }

  &:nth-child(4) {
    left: 5%;
    top: 68%;
    width: vw(17);
  }

  &:nth-child(5) {
    left: 15%;
    top: 82%;
    width: vw(17);
  }

  &:nth-child(6) {
    left: 13%;
    top: 94%;
    width: vw(12);
  }

  &:nth-child(7) {
    left: 24%;
    top: 73%;
    width: vw(12);
  }

  &:nth-child(8) {
    left: 26%;
    top: 75%;
    width: vw(20);
  }

  // Right side
  &:nth-child(9) {
    right: 6%;
    top: 14%;
    width: vw(20);
  }

  &:nth-child(10) {
    right: 4%;
    top: 17%;
    width: vw(17);
  }

  &:nth-child(11) {
    right: 5%;
    top: 22%;
    width: vw(12);
  }

  &:nth-child(12) {
    right: 3%;
    top: 58%;
    width: vw(20);
  }

  &:nth-child(13) {
    right: 22%;
    top: 69%;
    width: vw(12);
  }

  &:nth-child(14) {
    right: 25%;
    top: 74%;
    width: vw(17);
  }

  &:nth-child(15) {
    right: 21%;
    top: 83%;
    width: vw(12);
  }

  &:nth-child(16) {
    right: 12%;
    top: 92%;
    width: vw(20);
  }
}