@import '@/styles/shared-imports.scss';

.hero {
  align-items: center;
  background-color: var(--color-black);
  display: flex;
  height: 90dvh;
  overflow: hidden;
  padding: 0 rem(16);
  position: relative;

  @include above('desktop') {
    padding: 0 2vw;
    justify-content: center;
  }
}

.video {
  @include position-fit;

  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.content {
  position: relative;

  @include above('desktop') {
    flex-basis: 60%;
  }
}

.title {
  @include max-prop(font-size, rem(48), vw(60));

  text-transform: uppercase;
}

.link {
  @include max-prop(font-size, rem(16), vw(20));

  background-color: var(--color-khaki);
  color: var(--color-clay);
  text-transform: uppercase;
  margin-top: rem(16);
  border-radius: rem(3);
  transition:
    color 0.3s ease-out,
    background-color 0.3s ease-out;

  @include above('desktop') {
    border-radius: vw(5);
    margin-top: vw(30);
  }

  @include isHoverable {
    &:hover {
      color: var(--color-khaki);
      background-color: var(--color-clay);
    }
  }

  > span > span > span {
    padding: rem(12) rem(24);

    @include above('desktop') {
      padding: vw(20) vw(40);
    }
  }
}

.social {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
