@import '@/styles/shared-imports.scss';

.hero {
  align-items: center;
  background-color: #4875af; /* fallback */
  background: linear-gradient(
    168deg,
    #1a0f29 0%,
    #2e284c 18%,
    #4875af 65%,
    #66a8e5 85%,
    #a4eaef 100%
  );
  display: flex;
  height: 100dvh;
  overflow: hidden;
  padding: 0 rem(16);
  position: relative;
  text-align: center;

  @include above('desktop') {
    padding: 0 2vw;
    justify-content: center;
  }
}

.video {
  @include position-fit;

  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.content {
  position: relative;
  z-index: z('above');

  @include above('desktop') {
    flex-basis: 60%;
    padding-bottom: 12dvh;
  }
}

.title {
  @include max-prop(font-size, rem(48), vw(110));

  color: var(--color-pink);
  font-family: var(--font-chubby);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.subtitle {
  @include max-prop(font-size, rem(24), vw(48));

  font-family: var(--font-aristotelica-display-trial);
}

.link {
  background-color: var(--color-pink);
  border-radius: rem(100);
  color: var(--color-white);
  font-family: var(--font-aristotelica-display-trial);
  font-size: 0;
  margin-top: rem(16);
  transition:
    color 0.3s ease-out,
    background-color 0.3s ease-out;

  @include above('desktop') {
    margin-top: vw(30);
  }

  @include isHoverable {
    &:hover {
      color: var(--color-blue);
      background-color: var(--color-yellow);
    }
  }

  > span > span > span {
    @include max-prop(font-size, rem(16), vw(38));

    padding: rem(12) rem(24);

    @include above('desktop') {
      padding: vw(25) vw(66) vw(20);
    }
  }
}
