@import '@/styles/shared-imports.scss';

.footer {
  @include flex-center;

  position: relative;
  z-index: z('footer');

  @include above('desktop') {
    height: vw($footerHeightDesktop);
    margin-top: - vw($footerHeightDesktop);
  }
}

.copyright {
  @include max-prop(font-size, rem(16), vw(28));

  text-align: center;
}
