@import '@/styles/shared-imports.scss';

.footer {
  align-items: center;
  background-color: var(--color-gray);
  display: flex;
  justify-content: space-between;
  padding: vw(50) 2vw;
  position: relative;
}

.copyright {
  @include max-prop(font-size, rem(20), vw(20));
}
