@import '@/styles/shared-imports.scss';

.footer {
  padding: rem(32) rem(16);
  position: relative;

  @include above('desktop') {
    padding: vw(50) 2vw;
  }
}

.copyright {
  @include max-prop(font-size, rem(16), vw(20));
}
