@import '@/styles/shared-imports.scss';

.items {
  @include position-fit;
  z-index: z('above');
}

.item {
  bottom: 0;
  left: 50%;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  width: 200%;

  &.rays {
    height: 100%;
    width: 130%;
    z-index: z('above') + 3;

    img {
      object-position: center 27%;
    }
  }

  &.front {
    height: 30dvh;
    z-index: z('above') + 2;
  }

  &.middle {
    height: 60dvh;
    z-index: z('above') + 1;

    img {
      object-position: 33% top;
    }
  }

  &.back {
    height: 90dvh;
    z-index: z('above');

    img {
      object-position: 66% top;
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
  }
}