@import '@/styles/shared-imports.scss';

.project {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border-radius: rem(3);
  overflow: hidden;

  @include above('desktop') {
    border-radius: vw(5);
  }

  &:before {
    background-color: var(--color-black);
    content: '';
    inset: 0;
    opacity: 0.5;
    position: absolute;
    transition: opacity 0.15s ease-out;
  }

  @include isHoverable {
    &:hover div:first-of-type {
      opacity: 0 !important;
    }

    &:hover::before {
      opacity: 0;
      transition-duration: 0.3s;
    }
  }
}

.imageWrapper {
  height: 100%;
  width: 100%;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.title {
  @include position-center;
  @include max-prop(font-size, rem(20), vw(40));

  font-family: var(--font-aristotelica-display-trial);
  padding: 0 rem(16);
  width: 100%;
  z-index: z('above');
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;

  @include above('desktop') {
    padding: 0 vw(30);
  }

  @include isHoverable {
    .project:hover & {
      opacity: 0;
      transform: translate(-50%, -100%);
    }
  }
}

.info {
  @include isHoverable {
    @include max-prop(font-size, rem(14), vw(16));

    background-color: rgba(var(--color-black--rgb), 0.5);
    border-radius: vw(3);
    bottom: 5%;
    left: 50%;
    opacity: 0;
    padding: 0 vw(5);
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, 20%);
    max-width: 90%;
    width: max-content;
    transition:
      opacity 0.3s ease-out,
      transform 0.3s ease-out;

    .project:hover & {
      opacity: 1;
      transform: translate(-50%, 0%);
    }
  }
}
