@import '@/styles/shared-imports.scss';

.project {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border-radius: rem(3);
  overflow: hidden;

  &:before {
    background-color: rgba($color: var(--color-gray--rgb), $alpha: 0.6);
    content: '';
    inset: 0;
    position: absolute;
  }

  @include above('desktop') {
    border-radius: vw(5);
  }
}

.imageWrapper {
  height: 100%;
  width: 100%;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.title {
  @include position-center;
  @include max-prop(font-size, rem(20), vw(30));

  padding: 0 rem(16);
  text-transform: uppercase;
  width: 100%;
  z-index: z('above');

  @include above('desktop') {
    padding: 0 vw(30);
  }
}
