@import '@/styles/shared-imports.scss';

.project {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border-radius: vw(5);
  overflow: hidden;

  &:before {
    background-color: rgba($color: var(--color-gray--rgb), $alpha: 0.6);
    content: '';
    inset: 0;
    position: absolute;
  }
}

.imageWrapper {
  height: 100%;
  width: 100%;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.title {
  @include position-center;
  @include max-prop(font-size, rem(30), vw(30));

  text-transform: uppercase;
  z-index: z('above');
  width: 100%;
  padding: 0 vw(30);
}
