@import '@/styles/shared-imports.scss';

.wrapper {
  align-items: center;
  display: flex;
  gap: vw(18);
}

.social {
  display: flex;
  gap: rem(6);
  align-items: center;
  justify-content: center;

  @include above('desktop') {
    gap: vw(10);
  }
}

.socialItem {
  align-items: center;
  background-color: var(--color-pink);
  border-radius: 40%;
  color: var(--color-white);
  display: flex;
  height: rem(40);
  justify-content: center;
  width: rem(40);
  transition:
    color 0.3s ease-out,
    background-color 0.3s ease-out;

  @include isHoverable {
    &:hover {
      color: var(--color-blue);
      background-color: var(--color-yellow);
    }
  }

  @include above('desktop') {
    height: vw(60);
    width: vw(60);
  }

  span {
    @include flex-center;

    height: 100%;
    width: 100%;
  }

  svg {
    height: 50%;
    width: 50%;
  }
}
