@import '@/styles/shared-imports.scss';

.wrapper {
  align-items: center;
  display: flex;
  gap: vw(18);
}

.title {
  // @include max-prop(font-size, rem(14), vw(16));
}

.social {
  display: flex;
  gap: rem(6);
  align-items: center;
  justify-content: center;

  @include above('desktop') {
    gap: vw(10);
  }
}

.socialItem {
  background-color: var(--color-khaki);
  color: var(--color-clay);
  width: rem(40);
  height: rem(40);
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    color 0.3s ease-out,
    background-color 0.3s ease-out;

  @include isHoverable {
    &:hover {
      color: var(--color-khaki);
      background-color: var(--color-clay);
    }
  }

  @include above('desktop') {
    width: vw(60);
    height: vw(60);
  }

  span {
    @include flex-center;

    height: 100%;
    width: 100%;
  }

  svg {
    width: 50%;
    height: 50%;
  }
}
