@import '@/styles/shared-imports.scss';

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  @include max-prop(font-size, rem(16), vw(16));
}

.social {
  display: flex;
  gap: vw(10);
  align-items: center;
  justify-content: center;
  margin-top: vw(16);
}

.socialItem {
  background-color: var(--color-khaki);
  color: var(--color-clay);
  width: vw(60);
  height: vw(60);
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    color 0.3s ease-out,
    background-color 0.3s ease-out;

  @include isHoverable {
    &:hover {
      color: var(--color-khaki);
      background-color: var(--color-clay);
    }
  }

  svg {
    width: 50%;
    height: 50%;
  }
}
