.wrapper {
  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.social__item {
  background-color: chartreuse;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
