@import '@/styles/shared-imports.scss';

.gallery {
  background-color: var(--color-kabul);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: vw(200) 2vw vw(160);
}

.title {
  @include max-prop(font-size, rem(60), vw(60));

  color: var(--color-white);
}

.grid {
  display: grid;
  grid-gap: vw(30);
  grid-template-columns: repeat(3, 1fr);
  margin: vw(60) auto 0;
  max-width: 80%;
}
