.gallery {
  background-color: burlywood;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120dvh;
  padding: 0 2vw;
}

.grid {
  margin-top: 5dvh;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-auto-rows: 200px;
  grid-gap: 1vw;
}

.grid__item {
  background-color: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
}
