@import '@/styles/shared-imports.scss';

.gallery {
  background: linear-gradient(180deg, #18122b 0%, #2b2f55 50%, #4971a1 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: rem(50) rem($globalPaddingMobile) rem($globalPaddingMobile);
  position: relative;
  overflow: hidden;

  @include above('desktop') {
    padding: 38dvh vw($globalPaddingDesktop) vw(70 + $footerHeightDesktop);
  }
}

.title {
  @include max-prop(font-size, rem(48), vw(110));

  font-family: var(--font-aristotelica-display-trial);
  position: relative;
  z-index: z('above');
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  row-gap: rem(16);
  column-gap: rem(16);
  margin: rem(30) auto 0;
  width: 100%;
  position: relative;
  pointer-events: none;
  z-index: z('above');

  @include above('desktop') {
    row-gap: vw(60);
    column-gap: vw(120);
    grid-template-columns: repeat(3, 1fr);
    margin: vw(60) auto 0;
  }
}

// Parallax elements
.rays {
  z-index: 3;
}

.cloudTop {
  top: 0;
  height: 28dvh;

  img {
    object-position: center bottom;
  }
}

.cloudBottomFront {
  bottom: 0;
  height: 42%;
  z-index: 1;

  img {
    object-position: 33% top;
  }
}

.cloudBottomBack {
  bottom: 0;
  height: 70%;
  z-index: 2;

  img {
    object-position: 66% top;
  }
}
