@import '@/styles/shared-imports.scss';

.gallery {
  background: linear-gradient(
    180deg,
    #18122b 0%,
    #2b2f55 50%,
    #4971a1 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: rem(50) rem(16) rem(16);

  @include above('desktop') {
    padding: vw(200) vw($globalPaddingDesktop) vw(160);
    // background-size: 10%;
  }
}

.title {
  @include max-prop(font-size, rem(48), vw(110));

  font-family: var(--font-aristotelica-display-trial);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  row-gap: rem(16);
  column-gap: rem(16);
  margin: rem(30) auto 0;
  width: 100%;

  @include above('desktop') {
    row-gap: vw(60);
    column-gap: vw(120);
    grid-template-columns: repeat(3, 1fr);
    margin: vw(60) auto 0;
  }
}
