@import './config/fonts';
@import './shared-imports.scss';
@import './root-variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Scrollbar
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-pink);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-blue);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-pink);
    opacity: 0.8;
  }

  // Firefox scrollbar
  scrollbar-color: var(--color-pink) var(--color-blue);
  scrollbar-width: thin;

  // Selection
  ::-moz-selection {
    background: var(--color-yellow);
    color: var(--color-blue);
  }

  ::selection {
    background: var(--color-yellow);
    color: var(--color-blue);
  }
}

body {
  @include max-prop(font-size, rem(18), vw(18));

  font-weight: 300;
  font-family: var(--font-quicksand);
  color: var(--color-white);
}
