@import '@/styles/shared-imports.scss';

.stars {
  @include position-fit;

  pointer-events: none;
  transition: opacity 0.3s ease-out;
  z-index: z('above');

  @include isHoverable {
    opacity: 0;

    button:hover > & {
      opacity: 1;
    }
  }
}

.star {
  position: absolute;

  // Top
  &:nth-child(1) {
    right: 0;
    top: 0;
    width: rem(18);

    @include above('desktop') {
      width: vw(20);
    }
  }

  &:nth-child(2) {
    right: -2%;
    top: -1%;
    width: rem(10);

    @include above('desktop') {
      width: vw(10);
    }
  }

  &:nth-child(3) {
    right: -3%;
    top: 4%;
    width: rem(12);

    @include above('desktop') {
      width: vw(13);
    }
  }

  // Bottom
  &:nth-child(4) {
    bottom: -2%;
    left: 0%;
    width: rem(20);

    @include above('desktop') {
      width: vw(21);
    }
  }

  &:nth-child(5) {
    bottom: 3%;
    left: 5%;
    width: rem(12);

    @include above('desktop') {
      width: vw(12);
    }
  }
}