@import '@/styles/shared-imports.scss';

.image {
  display: block;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.video {
  height: 100%;
  object-fit: cover;
  width: auto;
}
