@import '@/styles/shared-imports.scss';

.about {
  background-color: var(--color-khaki);
  color: var(--color-clay);

  @include above('desktop') {
    align-items: stretch;
    display: flex;
    justify-content: center;
    min-height: 70dvh;
  }
}

.text {
  position: relative;
  padding: rem(50) rem(16);

  @include above('desktop') {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: vw(100);
    width: 50%;
  }
}

.title {
  @include max-prop(font-size, rem(48), vw(60));

  font-family: var(--font-splash);
  position: relative;
}

.content {
  @include max-prop(font-size, rem(16), vw(20));

  position: relative;
  margin-top: rem(16);
  line-height: 1.5;

  @include above('desktop') {
    margin-top: vw(30);
  }
}

.imageWrapper {
  @include above('desktop') {
    width: 50%;
  }
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
