@import '@/styles/shared-imports.scss';

.about {
  background-color: var(--color-white);
  color: var(--color-blue);

  @include above('desktop') {
    align-items: stretch;
    display: flex;
    justify-content: center;
    min-height: 70dvh;
  }
}

.text {
  position: relative;
  padding: rem(50) rem($globalPaddingMobile);

  @include above('desktop') {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: vw($globalPaddingDesktop);
    width: 50%;
  }
}

.title {
  @include max-prop(font-size, rem(48), vw(110));

  color: var(--color-pink);
  font-family: var(--font-aristotelica-display-trial);
  position: relative;
}

.content {
  @include max-prop(font-size, rem(16), vw(32));

  line-height: 1.2;
  margin-top: rem(16);
  position: relative;

  @include above('desktop') {
    margin-top: vw(30);
  }
}

.imageWrapper {
  overflow: hidden;
  position: relative;

  @include above('desktop') {
    width: 50%;
    min-height: vw(780);
  }
}

.cloudBottom {
  bottom: 0;
  position: absolute;
  right: 0;
  width: 42%;
}

.cloudTop {
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleY(-1);
  width: 30%;
}

.cloudLeft {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
  transition: transform 1s ease-in-out;
  transform: scale(1.2);

  @include isHoverable {
    .about:hover & {
      transform: scale(1);
      transition: transform 10s ease-out;
    }
  }
}
