@import '@/styles/shared-imports.scss';

.about {
  align-items: stretch;
  background-color: var(--color-khaki);
  color: var(--color-clay);
  display: flex;
  justify-content: center;
  min-height: 70dvh;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: vw(100);
  width: 50%;
}

.title {
  @include max-prop(font-size, rem(60), vw(60));
}

.content {
  @include max-prop(font-size, rem(20), vw(20));

  margin-top: vw(30);
  line-height: 1.5;
}

.imageWrapper {
  width: 50%;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
