@import '@/styles/shared-imports.scss';

.modal {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  z-index: z('modal');

  &.open {
    opacity: 1;
    pointer-events: auto;
  }
}

.overlay {
  background-color: rgba($color: var(--color-gray2--rgb), $alpha: 0.6);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.container {
  background-color: var(--color-white);
  border-radius: rem(3);
  color: var(--color-blue);
  height: 88dvh;
  overflow: hidden;
  position: relative;
  width: calc(100% - rem(32));
  z-index: z('above');

  @include above('desktop') {
    border-radius: vw(5);
    height: 80dvh;
    width: 80%;
  }
}

.content {
  height: 100%;
  overflow: auto;
  padding-bottom: rem(40);
  width: 100%;

  @include above('desktop') {
    padding-bottom: vw(80);
  }
}

.close {
  height: rem(28);
  position: absolute;
  right: rem(16);
  top: rem(16);
  width: rem(28);
  transition: transform 0.3s ease-in-out;
  z-index: z('above');

  @include isHoverable {
    &:hover {
      transform: rotate(90deg);
    }
  }

  @include above('desktop') {
    height: vw(50);
    right: vw(30);
    top: vw(30);
    width: vw(50);
  }
}

.closeIcon {
  height: 100%;
  width: 100%;
}

.text {
  padding: rem(40) rem(40) rem(30);

  @include above('desktop') {
    padding: vw(80) vw(80) vw(40);
  }
}

.title {
  @include max-prop(font-size, rem(48), vw(110));

  color: var(--color-pink);
  font-family: var(--font-aristotelica-display-trial);
  text-align: center;
}

.description {
  @include max-prop(font-size, rem(16), vw(32));

  line-height: 1.2;
  margin-top: rem(16);

  @include above('desktop') {
    margin-top: vw(30);
    width: 80%;
  }
}

.mediaWrapper {
  height: 50dvh;
  overflow: hidden;
  width: 100%;

  user-select: none;
  -webkit-user-select: none;

  @media (hover: hover) {
    cursor: grab;
  }
}

.media {
  display: flex;
  gap: rem(16);
  padding: 0 rem(40);
  height: 100%;
  position: relative;
  will-change: transform;

  @include above('desktop') {
    gap: vw(30);
    padding: 0 vw(80);
  }

  @media (hover: hover) {
    cursor: grab;
  }

  @media (hover: none) {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.mediaItem {
  height: 100%;
  flex: 0 0 auto;
  margin: 0;
  position: relative;

  @media (hover: none) {
    scroll-snap-align: start;
  }

  img,
  video {
    height: 100%;
    width: auto;
    display: block;
    pointer-events: none;
    -webkit-user-drag: none;
    user-drag: none;
  }
}
