@import '@/styles/shared-imports.scss';

.modal {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  z-index: z('modal');

  &.open {
    opacity: 1;
    pointer-events: auto;
  }
}

.overlay {
  background-color: rgba($color: var(--color-black--rgb), $alpha: 0.6);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.container {
  background-color: var(--color-white);
  border-radius: rem(3);
  color: var(--color-blue);
  height: 88dvh;
  overflow: hidden;
  position: relative;
  width: calc(100% - rem(32));
  z-index: z('above');

  @include above('desktop') {
    border-radius: vw(40);
    height: 76dvh;
    width: 83%;
  }
}

.content {
  height: 100%;
  overflow: auto;
  padding-bottom: rem(40);
  width: 100%;

  @include above('desktop') {
    padding-bottom: vw(80);
  }
}

.close {
  height: rem(28);
  position: absolute;
  right: rem(16);
  top: rem(16);
  width: rem(28);
  transition: transform 0.3s ease-in-out;
  z-index: z('above');

  @include isHoverable {
    &:hover {
      transform: rotate(90deg);
    }
  }

  @include above('desktop') {
    height: vw(80);
    right: vw(45);
    top: vw(45);
    width: vw(80);
  }
}

.closeIcon {
  height: 100%;
  width: 100%;
}

.text {
  text-align: center;
  padding: rem(40) rem(40) rem(30);

  @include above('desktop') {
    padding: vw(70) vw(80) vw(50);
  }
}

.title {
  @include max-prop(font-size, rem(48), vw(110));

  color: var(--color-pink);
  font-family: var(--font-aristotelica-display-trial);
}

.description {
  @include max-prop(font-size, rem(16), vw(32));

  line-height: 1.2;
  margin-top: rem(16);

  @include above('desktop') {
    margin-top: vw(40);
  }
}

.mediaWrapper {
  width: 100%;
}

.media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: rem(16);
  padding: 0 rem(40);

  @include above('desktop') {
    gap: vw(30);
    padding: 0 vw(80);
  }
}

.mediaItem {
  height: rem(320);
  flex: 0 0 auto;
  margin: 0;
  position: relative;

  @include above('desktop') {
    height: vw(450);
  }

  img,
  video {
    height: 100%;
    width: auto;
    max-width: none;
    display: block;
    border-radius: rem(3);
    object-fit: cover;

    @include above('desktop') {
      border-radius: vw(40);
    }
  }
}
