@import '@/styles/shared-imports.scss';

.modal {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  z-index: z('modal');

  &.open {
    opacity: 1;
    pointer-events: auto;
  }
}

.overlay {
  background-color: rgba($color: var(--color-gray--rgb), $alpha: 0.6);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.container {
  position: relative;
  background-color: var(--color-pearl);
  border-radius: vw(5);
  color: var(--color-clay);
  height: 80dvh;
  width: 80%;
  z-index: z('above');
}

.content {
  height: 100%;
  overflow: auto;
  padding-bottom: vw(80);
  width: 100%;
}

.close {
  height: vw(50);
  position: absolute;
  right: vw(30);
  top: vw(30);
  width: vw(50);
  transition: transform 0.3s ease-in-out;
  z-index: z('above');

  @include isHoverable {
    &:hover {
      transform: rotate(90deg);
    }
  }
}

.closeIcon {
  height: 100%;
  width: 100%;
}

.text {
  padding: vw(80) vw(80) vw(40);
}

.title {
  @include max-prop(font-size, rem(32), vw(32));
}

.description {
  @include max-prop(font-size, rem(20), vw(20));

  font-size: vw(20);
  line-height: 1.5;
  margin-top: vw(30);
  width: 80%;
}

.mediaWrapper {
  height: 50dvh;
  overflow: hidden;
  width: 100%;

  user-select: none;
  -webkit-user-select: none;
}

.media {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: vw(30);
  height: 100%;
  padding: 0 vw(80);

  @media (hover: hover) {
    cursor: grab;
  }

  @media (hover: none) {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.mediaItem {
  height: 100%;

  @media (hover: none) {
    scroll-snap-align: start;
  }

  img,
  video {
    height: 100%;
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
}
