@import '@/styles/shared-imports.scss';

.header {
  align-items: center;
  background-color: var(--color-clay);
  display: flex;
  height: 10dvh;
  justify-content: space-between;
  padding: 0 rem(16);
  position: sticky;
  top: 0;
  z-index: z('menu');

  @include above('desktop') {
    padding: 0 2vw;
  }
}

.logo {
  @include max-prop(font-size, rem(20), vw(40));

  font-family: var(--font-splash);
  transition: color 0.3s ease-out;

  @include isHoverable {
    &:hover {
      color: var(--color-khaki);
    }
  }
}

.menu {
  @include flex-center();
  @include max-prop(font-size, rem(11), vw(14));

  list-style: none;
  gap: rem(12);
  text-transform: uppercase;

  @include above('desktop') {
    gap: vw(28);
  }
}

.menuItem {
  transition: color 0.3s ease-out;

  @include isHoverable {
    &:hover {
      color: var(--color-khaki);
    }
  }
}
