.menu {
  background-color: blue;

  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10dvh;
  padding: 0 2vw;
}
