@import '@/styles/shared-imports.scss';

.header {
  align-items: center;
  background-color: var(--color-gray);
  display: flex;
  height: 10dvh;
  justify-content: space-between;
  padding: rem(16);
  position: sticky;
  top: 0;
  z-index: z('menu');

  @include above('desktop') {
    padding: vw(15) 2vw;
  }
}

.logo {
  height: 100%;
  transition: filter 0.3s ease-in-out;

  @include isHoverable {
    &:hover {
      filter: brightness(0.5);
    }
  }
}

.logoImage {
  height: 100%;
}

.menu {
  @include flex-center();
  @include max-prop(font-size, rem(11), vw(14));

  list-style: none;
  gap: rem(12);
  text-transform: uppercase;

  @include above('desktop') {
    gap: vw(28);
  }
}

.menuItem {
  transition: color 0.3s ease-out;

  @include isHoverable {
    &:hover {
      color: var(--color-khaki);
    }
  }
}
