@import '@/styles/shared-imports.scss';

.header {
  @include max-prop(font-size, rem(11), vw(24));

  align-items: center;
  background: transparent;
  box-shadow: none;
  display: flex;
  font-family: var(--font-aristotelica-display-trial);
  height: vw($menuHeightMobile);
  justify-content: space-between;
  padding: rem(16);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z('menu');
  transition:
    background 0.3s ease-out,
    box-shadow 0.3s ease-out;

  @include above('desktop') {
    height: vw($menuHeightDesktop);
    padding: 0 vw(40);
  }

  &.scrolled {
    background: var(--color-blue);
    box-shadow: 0 4px 12px rgba($color: var(--color-black--rgb), $alpha: 0.6);
  }
}

.left {
  align-items: center;
  display: flex;
  gap: vw(60);
}

.logo {
  height: 100%;
  position: relative;
  transition: filter 0.3s ease-in-out;
  width: vw(170);

  @include isHoverable {
    &:hover {
      filter: brightness(0.5);
    }
  }
}

.logoImage {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.menu {
  @include flex-center();

  list-style: none;
  gap: rem(12);

  @include above('desktop') {
    gap: vw(50);
  }
}

.menuItem {
  transition: color 0.3s ease-out;

  @include isHoverable {
    &:hover {
      color: var(--color-yellow);
    }
  }
}
