@import '@/styles/shared-imports.scss';

.header {
  align-items: center;
  background-color: var(--color-clay);
  display: flex;
  height: 10dvh;
  justify-content: space-between;
  padding: 0 2vw;
  position: sticky;
  top: 0;
  z-index: z('menu');
}

.logo {
  @include max-prop(font-size, rem(40), vw(40));

  transition: color 0.3s ease-out;

  @include isHoverable {
    &:hover {
      color: var(--color-khaki);
    }
  }
}

.menu {
  @include flex-center();
  @include max-prop(font-size, rem(14), vw(14));

  list-style: none;
  gap: vw(28);
  text-transform: uppercase;
}

.menuItem {
  transition: color 0.3s ease-out;

  @include isHoverable {
    &:hover {
      color: var(--color-khaki);
    }
  }
}
